[user]
	name = Robert Lin
	email = robert@bobheadxi.dev

[alias]
        st = status
        pub = push origin HEAD
        puf = push fork HEAD
	ci = commit -m
        cia = commit -am
        ugh = commit -a --amend --no-edit
        reseth = reset HEAD^ --hard
        resets = reset HEAD^
        pullm = pull --no-edit
        amend = commit --amend
        hash = rev-parse HEAD
	co = checkout

[url "git@github.com:"]
	insteadOf = https://github.com/

[pager]
        diff = false
        branch = false
