[user]
	name = Robert Lin
	email = robert@bobheadxi.dev

[alias]
	pub = push origin HEAD
	cia = commit -am
	ugh = git commit -a --amend --no-edit
	reseth = git reset HEAD^ --hard
	resets = git reset HEAD^
	pullm = pull --no-edit

[url "git@github.com:"]
	insteadOf = https://github.com/
